.user-block {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #0f59d2;
    padding: 5px;
    cursor: pointer;
    transition: all .4s;
}

.user-block.active,
.user-block:hover {
    background-color: #0f59d2;
}

.user-block.active p {
    color: #0f59d2;
}

.user-block.active .username {
    font-weight: 600;
}

.user-block .user-info {
    line-height: 0;
    text-transform: capitalize;
    color: #ffffff;
    float: left;
}

.user-block .time-info {
    float: right;
}

.user-content {
    margin-left: 20px;
    margin-top: 15px;
    text-overflow: ellipsis;
    width: 160px;
    float: right;
}

.time-meta {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    padding: 14px;
}

.user-container::-webkit-scrollbar {
    width: .5em;
}

.user-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(205, 205, 205, 1);
}

.user-container::-webkit-scrollbar-thumb {
    background-color: #dadada;
    outline: 1px solid #dadada;
    height: 20px;
}

.unread {
    color: #000 !important;
    font-weight: bold;
}

.user-info p {
    font-size: 12px;
}

.dropdown-list {
    z-index: 9;
}

.fa-2x {
    font-size: 1.5em !important;
}

.app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto !important;
    padding: 0 !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.side-two {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0 !important;
    height: 73px;
    width: 100%;
    background-color: #286ad5;
    z-index: 1000;
}

.heading-avatar {
    padding: 0 !important;
    cursor: pointer;
    margin-right: 10px;
}

.heading-avatar-icon img {
    border-radius: 3px;
    height: 48px;
    width: 48px;
}

.heading-name {
    padding: 0 !important;
    cursor: pointer;
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}

.heading-compose {
    padding: 0;
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}

.heading-dot {
    padding: 0;
    margin-left: 10px;
}

.searchBox {
    margin: 0 !important;
    height: 60px;
    padding: 10px !important;
    background-color: #286ad5;
    border-top: 1px solid #0f59d2;
    border-bottom: 1px solid #0f59d2;
}

.searchBox .form-control {
    margin: 0 !important;
    background-color: transparent;
    border-top: 1px solid #0f59d2;
    border-bottom: 1px solid #0f59d2;
    border: 1px solid #0f59d2;
    border-radius: 20px;
}

.searchBox input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.actionIcons {
    margin: 0 !important;
    height: 45px;
    padding: 10px !important;
    background-color: #286ad5;
}

.actionIcons i {
    color: #ffffff;
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #286ad5;
    overflow-y: auto;
    height: calc(100% - 120px);
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon {
    height: 48px;
    width: 48px;
    float: left;
}

.avatar-icon img {
    border-radius: 3px;
    height: 48px;
    width: 48px;
}

.sideBar-main {
    padding: 0 !important;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    margin-left: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

.sideBar-main span {
    color: #ffffff;
    text-transform: capitalize;
}

.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-name {
    padding: 10px !important;
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    padding: 10px !important;
}

/*New Message*/

.newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
}

.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #286ad5;
    z-index: 1001;
}

.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
}

.newMessage-back {
    text-align: center;
    /* vertical-align: baseline; */
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
}

.newMessage-back i {
    margin: auto !important;
}

/*Conversation*/

.conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
}

.message {
    padding: 0 !important;
    margin: 0 !important;
    background: url("/assets/img/user-thumbnail.png") no-repeat fixed center;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.message-previous {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
}

.previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
}

.previous a {
    text-decoration: none;
    font-weight: 700;
}

.message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
}

.message-main-receiver {
    /*padding: 10px 20px;*/
    max-width: 60%;
}

.message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap: break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important;
}

.message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;
}

.receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
}

.sender {
    /* float: right; */
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
}

/*Reply*/

.reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply-emojis {
    padding: 5px !important;
}

.reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 5px !important;
}

.reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-send {
    padding: 5px !important;
}

.reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-main {
    padding: 2px 5px !important;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .app {
        top: 0;
        height: 100%;
    }
    .heading {
        height: 70px;
        background-color: #009688;
    }
    .fa-2x {
        font-size: 2.3em !important;
    }
    .heading-avatar {
        padding: 0 !important;
    }
    .heading-avatar-icon img {
        height: 48px;
        width: 48px;
    }
    .heading-compose {
        padding: 5px !important;
    }
    .heading-compose i {
        color: #fff;
        cursor: pointer;
    }
    .heading-dot {
        padding: 5px !important;
        margin-left: 10px !important;
    }
    .heading-dot i {
        color: #fff;
        cursor: pointer;
    }
    .sideBar {
        height: calc(100% - 130px);
    }
    .sideBar-body {
        height: 80px;
    }
    .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important;
    }
    .avatar-icon {
        display: inline-block;
        height: 48px;
        width: 48px;
    }
    .avatar-icon img {
        height: 55px;
        width: 55px;
    }
    .sideBar-main {
        padding: 0 !important;
        cursor: pointer;
        display: inline-block;
        height: 48px;
        padding-left: 15px;
        vertical-align: middle;
    }
    .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important;
    }
    .sideBar-name {
        padding: 10px 5px !important;
    }
    .name-meta {
        font-size: 16px;
        padding: 5% !important;
    }
    .sideBar-time {
        padding: 10px !important;
    }
    .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }
    /*Conversation*/
    .conversation {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        /*width: 100%;*/
        border-left: 1px solid rgba(0, 0, 0, .08);
        /*overflow-y: auto;*/
    }
    .message {
        height: calc(100% - 140px);
    }
    .reply {
        height: 70px;
    }
    .reply-emojis {
        padding: 5px 0 !important;
    }
    .reply-emojis i {
        padding: 5px 2px !important;
        font-size: 1.8em !important;
    }
    .reply-main {
        padding: 2px 8px !important;
    }
    .reply-main textarea {
        padding: 8px !important;
        font-size: 18px;
    }
    .reply-recording {
        padding: 5px 0 !important;
    }
    .reply-recording i {
        padding: 5px 0 !important;
        font-size: 1.8em !important;
    }
    .reply-send {
        padding: 5px 0 !important;
    }
    .reply-send i {
        padding: 5px 2px 5px 0 !important;
        font-size: 1.8em !important;
    }
}