<!-- SearchBox -->
<div class="searchBox">
	<div class="form-group">
		<input id="searchText" type="text" class="fas form-control" name="searchText" placeholder="&#xF002; Search">
	</div>
</div>
<!-- Search Box End -->

<!-- sideBar -->
<div class="row no-gutters user-container">
	<div class="user-block" [class.active]="user.id === selecteduserid" *ngFor="let user of users;"
		(click)="selecteduserid = user.id;sigStartMessenger.emit(user)">
		<div class="user-info">
			<div class="avatar-icon">
				<img *ngIf="user.profile_picture" src="{{IMG_URL}}profile/{{user.profile_picture}}">
				<img *ngIf="!user.profile_picture" src="assets/images/user-thumbnail.png">
			</div>
			<div class="user-content">
				<p style="font-size: 15px;" class="username">
					{{user.username}}
				</p>

				<p style="font-size: 10px;">{{user.message}}</p>
			</div>
		</div>
		<div class="time-info">
			<span class="time-meta pull-right">10:11 AM</span>
		</div>
	</div>
</div>
<!-- Sidebar End -->