<div class="container app">
    <div class="row app-one">

        <div class="side col-4" [class.d-none]="sidebar === 'none'">

            <div class="side-one" [style.display]="sidebar === 'contacts' ? 'unset' : 'none'">
                <app-contact-list (sigStartMessenger)="openMessenger($event);"></app-contact-list>
            </div>

        </div>

        <div class="p-0" [ngClass]="sidebar === 'none' ? 'col-12' : 'col-8'" [class.d-none]="!activeuser">
            <ng-template #messenger></ng-template>
        </div>

        <div class="welcome-screen p-0 col-8" [class.d-none]="activeuser">
            <h1>Welcome</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="intro-image"></div>
                    <h3>Talk with the world</h3>
                    <p>Call friends and famili on<br>
                        QChat for free, the<br>
                        world at low affordable rates</p>
                </div>
                <div class="col-sm-6">
                    <div class="download-image"></div>
                    <h3>Bring QChat</h3>
                    <p>
                        Take your conversations on the<br>
                        go and keep everything in<br>
                        sync.Android, Windows
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="shouldring" class="call-dialog-drag">
            <audio class="d-none" src="assets/media/phone_ringtone.mp3" autoplay loop></audio>
            <div class="call-dialog-handle">
                <div class="user-thumbnail">
                    <img src="assets/images/user-thumbnail.png" alt="">
                </div>
                <div class="user-info">
                    <p>connecting...</p>
                    <h4>{{callinguserid}}</h4>
                </div>
                <div class="calling-actions">
                    <span><i class="fas fa-microphone"></i></span>
                    <span><i class="fas fa-grip-vertical"></i></span>
                    <span><i class="fas fa-volume-down"></i></span>
                </div>
                <button type="button" class="btn btn-primary accept-call" (click)="ondialogresult('ok')">Accept</button>
                <button type="button" class="btn btn-danger reject-call"
                    (click)="ondialogresult('cancel')">Cancel</button>
            </div>
        </div>

    </div>
</div>